html,
body {
  margin: 0;
  height: 100%;
  background-color: lightgray;
}

.container {
  height: 350px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid red;
  margin-right: 40px;
}

.customise-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.etch-container {
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.page-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-header-footer {
  border: 2px solid darkgray;
  width:  442px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
